interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      Shortcut-Token:
      - DUMMY
    method: GET
    uri: https://api.app.shortcut.com/api/v3/epics
  response:
    body:
      string: '[{"app_url": "https://app.shortcut.com/millsymills/epic/16", "archived":
        false, "started": false, "entity_type": "epic", "labels": [], "mention_ids":
        [], "member_mention_ids": [], "associated_groups": null, "project_ids": [],
        "stories_without_projects": 9, "completed_at_override": null, "productboard_plugin_id":
        null, "started_at": null, "completed_at": null, "objective_ids": [14], "name":
        "Get Started", "global_id": "v2:e:6a1042c0-a06e-4711-80a9-0178a339396b:16",
        "completed": false, "productboard_url": null, "planned_start_date": "2026-05-22T11:49:20Z",
        "state": "to do", "milestone_id": 14, "requested_by_id": "6a1042c0-f182-409f-90fb-98a30cc66b62",
        "epic_state_id": 500000002, "label_ids": [], "started_at_override": null,
        "group_id": "6a1042c0-9df8-4cea-b93d-c7ffd45a88d3", "updated_at": "2026-05-22T11:49:20Z",
        "group_mention_ids": [], "productboard_id": null, "follower_ids": ["6a1042c0-f182-409f-90fb-98a30cc66b62"],
        "group_ids": ["6a1042c0-9df8-4cea-b93d-c7ffd45a88d3"], "owner_ids": ["6a1042c0-f182-409f-90fb-98a30cc66b62"],
        "external_id": null, "id": 16, "position": 0, "productboard_name": null, "deadline":
        "2026-06-21T00:00:00Z", "stats": {"num_points_done": 0, "num_related_documents":
        0, "num_stories_unstarted": 9, "num_stories_total": 9, "last_story_update":
        "2026-05-22T11:49:20Z", "num_points_started": 0, "num_points_unstarted": 0,
        "num_stories_started": 0, "num_stories_unestimated": 9, "num_stories_backlog":
        0, "num_points_backlog": 0, "num_points": 0, "num_stories_done": 0}, "created_at":
        "2026-05-22T11:49:20Z"}, {"app_url": "https://app.shortcut.com/millsymills/epic/26",
        "archived": false, "started": false, "entity_type": "epic", "labels": [],
        "mention_ids": [], "member_mention_ids": [], "associated_groups": null, "project_ids":
        [], "stories_without_projects": 0, "completed_at_override": null, "productboard_plugin_id":
        null, "started_at": null, "completed_at": null, "objective_ids": [], "name":
        "Eval Epic", "global_id": "v2:e:6a10[...]
