interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      Shortcut-Token:
      - DUMMY
    method: GET
    uri: https://api.app.shortcut.com/api/v3/workflows
  response:
    body:
      string: '[{"description": "Our default workflow, designed for product and engineering
        teams. Add to or edit these States to customize your team''s workflow.", "entity_type":
        "workflow", "project_ids": [], "states": [{"description": "", "entity_type":
        "workflow-state", "verb": null, "name": "Backlog", "global_id": "v2:wfs:6a1042c0-a06e-4711-80a9-0178a339396b:500000006",
        "num_stories": 0, "type": "backlog", "updated_at": "2026-05-22T11:49:20Z",
        "id": 500000006, "num_story_templates": 0, "position": 1, "created_at": "2026-05-22T11:49:20Z"},
        {"description": "", "entity_type": "workflow-state", "verb": null, "name":
        "To Do", "global_id": "v2:wfs:6a1042c0-a06e-4711-80a9-0178a339396b:500000007",
        "num_stories": 41, "type": "unstarted", "updated_at": "2026-05-22T11:49:20Z",
        "id": 500000007, "num_story_templates": 0, "position": 2, "created_at": "2026-05-22T11:49:20Z"},
        {"description": "", "entity_type": "workflow-state", "verb": "start", "name":
        "In Progress", "glo[...]
