interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      Shortcut-Token:
      - DUMMY
    method: GET
    uri: https://api.app.shortcut.com/api/v3/labels
  response:
    body:
      string: '[{"app_url": "https://app.shortcut.com/millsymills/label/48", "description":
        "", "archived": false, "entity_type": "label", "color": null, "name": "area:ci",
        "global_id": "v2:l:6a1042c0-a06e-4711-80a9-0178a339396b:48", "updated_at":
        "2026-05-23T06:07:12Z", "external_id": null, "id": 48, "stats": {"num_related_documents":
        0, "num_epics": 0, "num_stories_unstarted": 6, "num_stories_total": 9, "num_epics_unstarted":
        0, "num_epics_in_progress": 0, "num_points_unstarted": 0, "num_stories_unestimated":
        9, "num_points_in_progress": 0, "num_epics_total": 0, "num_stories_completed":
        0, "num_points_completed": 0, "num_stories_backlog": 0, "num_points_total":
        0, "num_stories_in_progress": 3, "num_points_backlog": 0, "num_epics_completed":
        0}, "created_at": "2026-05-23T06:07:12Z"}, {"app_url": "https://app.shortcut.com/millsymills/label/55",
        "description": "", "archived": false, "entity_type": "label", "color": null,
        "name": "area:client", "global_id": "v2:l:6a1042c0-a06e-4711-80a9-0178a339396b:55",
        "updated_at": "2026-05-23T06:07:13Z", "external_id": null, "id": 55, "stats":
        {"num_related_documents": 0, "num_epics": 0, "num_stories_unstarted": 3, "num_stories_total":
        5, "num_epics_unstarted": 0, "num_epics_[...]
